footer.footer-4 {
  padding: var(--spacing-09) 0;
  @include media-breakpoint-up(lg) {
    padding: var(--spacing-11) 0;
  }

  &.has-border {
    .container {
      padding: var(--spacing-09);
      border: 1px solid var(--theme-ui-border);
    }
  }

  nav {
    --bs-nav-link-font-size: var(--step-0);
    margin-bottom: var(--spacing-09);
    @include media-breakpoint-up(lg) {
      margin-bottom: var(--spacing-11);
    }

    .logo-col {
      .logo {
        @include media-breakpoint-down(lg) {
          margin-bottom: var(--spacing-09);
        }
      }
    }

    .nav-col:not(:last-of-type) {
      @include media-breakpoint-down(lg) {
        margin-bottom: var(--spacing-09);
      }
    }

    .nav-item {
      @include media-breakpoint-down(lg) {
        margin-bottom: var(--spacing-04);
      }

      &:not(:last-of-type) {
        @include media-breakpoint-up(lg) {
          margin-right: var(--spacing-07);
          &.icon {
            margin-right: 0;
          }
        }
      }

      &:last-of-type {
        @include media-breakpoint-down(lg) {
          margin-bottom: 0;

          &.icon {
            &:before {
              margin-right: 0;
            }
          }
        }
      }

      a {
        color: var(--theme-typography-color-body);
        font-size: var(--step-0);
        font-weight: $font-weight-semibold;
        line-height: 150%;
        text-decoration: none;
      }
    }

    .nav-icons {
      @include media-breakpoint-down(lg) {
        justify-content: center !important;
        padding: 0;
        .nav-item {
          margin-bottom: 0;
        }
      }

      .nav-item {
        margin-right: 0;
      }
    }
  }

  .footer-base {
    padding-top: var(--spacing-06);
    padding-bottom: var(--spacing-05);
    @include media-breakpoint-up(lg) {
      padding-top: var(--spacing-07);
      padding-bottom: 0;
    }

    .text-sm {
      @include media-breakpoint-down(lg) {
        margin-top: var(--spacing-07);
      }
      @include media-breakpoint-up(lg) {
        margin-right: var(--spacing-06);
        margin-bottom: 0;
        align-self: center;
      }
    }

    .nav-item {
      padding: 0;

      &:not(:last-of-type) {
        @include media-breakpoint-down(lg) {
          padding-bottom: var(--spacing-05);
        }

        .footer-link {
          @include media-breakpoint-up(lg) {
            margin-right: var(--spacing-06);
          }
        }
      }

      @include media-breakpoint-down(lg) {
        width: 100%;
      }

      .footer-link {
        padding: 0;
        font-size: 14px;
      }
    }

  }
}
