footer.footer-6 {

  padding: var(--spacing-09) 0;
  @include media-breakpoint-up(sm) {
    padding: var(--spacing-11) 0;
  }


  .h6 {
    font-weight: $font-weight-semibold;
  }
  .footer-form {
    display: block;
    margin-bottom: var(--spacing-09);
    @include media-breakpoint-up(lg) {
      margin-bottom: var(--spacing-11);
    }

    form {
      justify-content: end;
      flex-wrap: wrap;
      margin-bottom: var(--spacing-05);

      .form-floating {
        flex-grow: 2;
        @include media-breakpoint-down(md) {
          margin-bottom: var(--spacing-05);
        }
      }

      .button {

        @include media-breakpoint-down(md) {
          width: 100%;
        }
        @include media-breakpoint-up(md) {
          margin-left: var(--spacing-05);
        }
      }
    }

    .text-sm {
      font-size: var(--step--1);
      margin-bottom: 0;
    }
  }

  nav {
    --bs-nav-link-font-size: var(--step--1);
    margin-bottom: var(--spacing-09);
    padding-top: var(--spacing-09);
    @include media-breakpoint-up(lg) {
      margin-bottom: var(--spacing-11);
      padding-top: var(--spacing-11);
    }

    h5 {
      color: var(--theme-typography-color-headline);
      margin-bottom: var(--spacing-05);
      font-size: var(--step-0);
      font-weight: $font-weight-semibold;
      line-height: 150%;
    }
    .nav-col:not(:last-of-type), .logo-col {
      @include media-breakpoint-down(lg) {
        margin-bottom: var(--spacing-08);
      }
    }
    .nav-item {
      padding: var(--spacing-03) 0;
      color: var(--theme-typography-color-body);
      font-size: var(--bs-nav-link-font-size);
      font-weight: $font-weight-normal;
      line-height: 150%;
      .footer-link {
        font-size: 14px;
      }
    }
  }

  .footer-base {
    padding-top: var(--spacing-06);
    padding-bottom: var(--spacing-05);
    @include media-breakpoint-up(lg) {
      padding-top: var(--spacing-07);
      padding-bottom: 0;
    }
.logo {
  margin-right: var(--spacing-10);
}
    .text-sm {
      margin-bottom: 0;
      @include media-breakpoint-down(lg) {
        margin-top: var(--spacing-06);
      }
      @include media-breakpoint-up(lg) {
        margin-right: var(--spacing-04);
        align-self: center;
      }
    }
    .nav-item {
      padding: 0;
      @include media-breakpoint-down(lg) {
        padding-bottom: var(--spacing-05);
      }
      &:not(:last-of-type) {
        .footer-link {
          margin-right: var(--spacing-04);
        }
      }
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
      .footer-link {
        padding: 0;
      }
    }


    .nav-icons {
      padding-bottom: var(--spacing-07);
      @include media-breakpoint-up(lg) {
        padding-bottom: var(--spacing-07);
        padding: 0;
      }

      .nav-item {
        width: auto;
        padding-bottom: 0;
        a.icon {
          color: var(--theme-primary-icon);
          font-size: 1.5rem;
          text-decoration: none;
        }

        &:not(:last-of-type) {
          a.icon {
            margin-right: var(--spacing-04);
          }
        }
      }
    }

  }
}
