<div class="hero-header hero-header-5  {% if hasBorder %}has-border {% endif %}{% if not video and not image %}bg-solid {% endif %}" data-bs-theme="{{ componentTheme }}">
    {% if hasBorder %}<div class="border-wrapper">{% endif %}
        {% if video %}
        <div class="background-video">
            {% include '../../../atoms/Video/Video.twig'  with {
                image: image,
                imageAlt: 'some alt text',
                video: video,
                autoplay: true
            } %}
        </div>
    {% else %}
        {% include '../../../atoms/Image/Image.twig'  with {
            image: image,
            background: true
        } %}
    {% endif %}
    <div class="hero-overlay"></div>
    <div class="container-fluid">
        <div class="hero-content row">
            <div class="g-0 g-md-4 {% if contentCentered %} offset-md-3 offset-lg-2 col-md-6 col-lg-8 text-center {% else %} col-lg-6 {% endif %}">
                {% include '../../../molecules/Hero-Content/Hero-Content.twig' with {
                    heroHeading: heading,
                    heroEyebrow: eyebrow,
                    heroText: text,
                    heroCtas: ctas,
                    heroSubscribe: subscribeForm,
                    heroSearch: searchForm
                } %}
            </div>
        </div>
    </div>
        {% if hasBorder %}</div> {% endif %}
    <div>