<footer class="footer-6" data-bs-theme="{{ componentTheme }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h4 class="h6">Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
            </div>
            <div class="footer-form col-md-8 col-lg-5 col-xl-4 offset-xl-1">
                {% include '../../../molecules/Form-Subscribe/Form-Subscribe.twig' %}
            </div>

        </div>
        <nav class="row border-light-subtle border-top ">


            <div class="nav-col col-md-6 col-lg-2">
                <h5>Column One</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="footer-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Features</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">About</a></li>
                </ul>
            </div>

            <div class="nav-col col-md-6 col-lg-2">
                <h5>Column Two</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="footer-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Features</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">About</a></li>
                </ul>
            </div>
            <div class="nav-col col-md-6 col-lg-2">
                <h5>Column Three</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="footer-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Features</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">About</a></li>
                </ul>
            </div>
            <div class="nav-col col-md-6 col-lg-2">
                <h5>Column Four</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="footer-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Features</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">About</a></li>
                </ul>
            </div>
            <div class="nav-col col-md-6 col-lg-2">
                <h5>Column Five</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="footer-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Features</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">About</a></li>
                </ul>
            </div>
            <div class="nav-col col-md-6 col-lg-2">
                <h5>Column Six</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="footer-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Features</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">About</a></li>
                </ul>
            </div>
        </nav>
        <div class="row footer-base border-light-subtle border-top d-flex">
            <div class="col-md-6 d-flex flex-column flex-md-row flex-wrap flex-md-nowrap order-md-0">

                <a href="/" class="d-flex logo align-items-center link-body-emphasis text-decoration-none">
                    <i class="bx bxl-dev-to bx-md"></i>
                </a>
                <p class="text-sm order-1 order-md-0">© 2024 Torpedo. All rights reserved.</p>

            </div>

        </div>
    </div>
</footer>