<header class="c-site-header">
  <div class="c-site-header__inner">
    {% if brand %}
      <div class="c-site-header__brand">{{ brand }}</div>
    {% endif %}
    {% if navigation %}
      <div class="c-site-header__nav">{{ navigation }}</div>
    {% endif %}
  </div>
</header>
