<footer class="footer-3 {% if hasBorder %}has-border {% endif %}" data-bs-theme="{{ componentTheme }}">
    <div class="container">
        <nav class="row g-0 g-md-4">
            <div class="col-lg-6 col-xl-8 logo-col">
                <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                    <i class="bx bxl-dev-to bx-md"></i>
                </a>

                <div class="row">
                    <h6>Address:</h6>
                    <address>Level 1, 12 Sample St, Sydney NSW 2000</address>
                </div>
                <div class="row">
                    <h6>Contact:</h6>
                    <p class="mb-0">
                        <a href="tel:+18001234567">1800 123 4567</a><br/>
                        <a href="mailto:devs@torpedogroup.com">devs@torpedogroup.com</a>
                    </p>
                </div>
                {% include '../../../molecules/Icons-Group/Icons-Group.twig' with {
                    alignGroup: 'start', icons: iconsNav, column: false, iconOnly: true} %}

            </div>
            <div class="nav-col col-md-6 col-lg-3 col-xl-2">
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="footer-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Features</a>
                    </li>
                    <li class="nav-item"><a href="#" class="footer-link">Pricing</a>
                    </li>
                    <li class="nav-item"><a href="#" class="footer-link">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">About</a></li>
                </ul>
            </div>
            <div class="nav-col col-md-6 col-lg-3 col-xl-2">
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="footer-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Features</a>
                    </li>
                    <li class="nav-item"><a href="#" class="footer-link">Pricing</a>
                    </li>
                    <li class="nav-item"><a href="#" class="footer-link">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">About</a></li>
                </ul>
            </div>

        </nav>
        <div class="row footer-base border-light-subtle border-top d-flex">
            <div class="col-md-6 order-md-1">
                <ul class="nav order-0 order-md-1 justify-content-md-end">
                    <li class="nav-item"><a href="#" class="footer-link">Privacy Policy</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Terms of Service</a></li>
                    <li class="nav-item"><a href="#" class="footer-link">Cookies Settings</a></li>
                </ul>
            </div>
            <div class="col-md-6 d-flex flex-wrap flex-md-nowrap order-md-0">
                <p class="text-sm order-1 order-md-0">© 2024 Torpedo. All rights reserved.</p>

            </div>
        </div>
    </div>
</footer>