@import "hero-content";

// Cards
.card-container {
  container-name: card;
  container-type: inline-size;
  width: 100%;
}
.justify-content-center {
  .card-container {
    justify-content: center;
    display: flex;
  }
}

@import "content";
@import "hero-content";
@import "blog-card-1";
@import "career-card-1";
@import "contact-card-1";
@import "contact-card-2";
@import "contact-card-3";
@import "card-default";
@import "card-2";
@import "event-card-5";
@import "pricing-card-1";
@import "stat-card-1";
@import "team-card-1";
@import "testimonial-card-1";
@import "testimonial-card-2";
@import "icons-group";