{% set cardCols = cards|length %}
{%  if cardCols > 3 %}
    {% set cardCols = 3 %}
{% endif %}
<section class="testimonial testimonial-1" data-bs-theme="{{ componentTheme }}">
    <div class="container">
        {% if sectionIntroHeading %}
        <div class="section-heading row {% if not leftAlign %}justify-content-center {% endif %}">
            <div class="col-lg-7 {% if not leftAlign %}text-center {% endif %}">
                <h2 class="h2">{{ sectionIntroHeading }}</h2>
                <p class="text-md">{{ sectionIntroText }}</p>
            </div>
        </div>
        {% endif %}
        <div class="row row-cols-1 row-cols-lg-{{ cardCols }} {% if not leftAlign %}justify-content-center {% endif %}">
            {% for card in cards %}
            <div class="col d-flex {% if not leftAlign %}justify-content-center {% endif %} ">
                {% include '../../../molecules/Cards/Testimonial-Card-1/Testimonial-Card-1.twig' with {
                    image: card.image,
                    quote: card.quote,
                    authorFirstName: card.authorFirstName,
                    authorLastName: card.authorLastName,
                    authorInfo: card.authorInfo,
                    authorImage: card.authorImage,
                    cardUrl: card.cardUrl,
                    border: border,
                    leftAlign: leftAlign} %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>