<section class="career career-12" data-bs-theme="{{ componentTheme }}">
    <div class="container">
        <div class="row">

            <div class="col-md-5">
                {% if sectionIntroHeading %}
                    <div class="section-intro">
                        {% include '../../../molecules/Content/Content.twig' with {
                            heading: sectionIntroHeading,
                            headingSize: 'h2',
                            eyebrow: sectionIntroEyebrow,
                            text: sectionIntroText
                        } %}
                    </div>
                {% endif %}
            </div>


            <div class="col-md-7 cards">
                {% for card in cards %}
                    {% include '../../../molecules/Cards/Career-Card-1/Career-Card-1.twig' with {
                        cardDepartment: card.cardDepartment,
                        cardType: card.cardType,
                        cardLocation: card.cardLocation,
                        cardTitle: card.cardTitle,
                        cardText: card.cardText,
                        cardUrl: card.cardUrl,
                        border: border } %}
                {% endfor %}
            </div>
    </div>
</section>