<form class="form-subscribe col-12 col-lg-auto d-md-flex">
    {% include '../../atoms/InputFloatingLabel/InputFloatingLabel.twig' with {label: 'Subscribe', type: 'text' } %}
    {% include '../../atoms/Button/Button.twig' with {label: 'Submit', primary: true, type: 'submit', outline: false } %}

</form>
<p class="text-sm text-muted col-12">By subscribing you agree to with our Privacy Policy</p>