{% set cardCols = cards|length %}
{% set cardColsMd = 2 %}
{% if cardCols > 3 %}
    {% set cardCols = 3 %}
{% endif %}
<section class="stat stat-7" data-bs-theme="{{ componentTheme }}">
    <div class="section-media">
        {% if video %}
            <div class="background-video">
                {% include '../../../atoms/Video/Video.twig'  with {
                    image: image,
                    imageAlt: 'some alt text',
                    video: video,
                    autoplay: true
                } %}
            </div>
            <div class="overlay"></div>
        {% elseif image %}
            {% include '../../../atoms/Image/Image.twig'  with {
                image: image,
                imageAlt: 'some alt text',
                video: video,
                toggle: 'modal',
                target: 'myModal',
                background: true,
            } %}
            <div class="overlay"></div>
        {% endif %}
    </div>
    <div class="container">
        {% if sectionIntroHeading %}
            <div class="row">
                <div class="col-12">
                    <div class="section-intro {% if centered %} text-center {% endif %}">
                        {% include '../../../molecules/Content/Content.twig' with {
                            heading: sectionIntroHeading,
                            haadingSize: 'h2',
                            eyebrow: sectionIntroEyebrow,
                            text: sectionIntroText,
                            ctas: false
                        } %}
                    </div>
                </div>
            </div>

        {% endif %}

        {% if cards %}
            <div class="row row-cols-1 row-cols-md-{{ cardColsMd }} row-cols-lg-{{ cardCols }} cards">
                {% for card in cards %}
                    <div class="col d-flex {% if centered %} justify-content-center{% endif %}">
                        {% include '../../../molecules/Cards/Stat-Card-1/Stat-Card-1.twig' with {
                            border: true,
                            borderLeft: borderLeftCard,
                            cardCentered: cardCentered,
                            cardStat: card.cardStat,
                            cardHeading: card.cardHeading,
                            cardText: card.cardText,
                            statLarge: cardStatLarge } %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if ctas %}
            <div class="row ctas">
                {% if ctas %}
                    {% include '../../../molecules/CTA-Group/CTA-Group.twig' with {ctas: ctas } %}
                {% endif %}
            </div>
        {% endif %}
    </div>
</section>