:root {
    /* Desktop */
    /* colors */
    --section-background-dark-color: var(--color-gray-800);
    --section-background-default-color: var(--color-default-white);
    --section-background-light-color: var(--color-gray-50);
    --theme-danger-border-color: var(--color-red-500);
    --theme-danger-default: var(--color-red-500);
    --theme-danger-foreground-dark: var(--color-red-700);
    --theme-danger-foreground-light: var(--color-red-50);
    --theme-danger-icon: var(--color-red-500);
    --theme-danger-shade: var(--color-red-700);
    --theme-danger-tint: var(--color-red-400);
    --theme-default-default: var(--color-stone-300);
    --theme-default-foreground-dark: var(--color-stone-700);
    --theme-default-foreground-light: var(--color-stone-50);
    --theme-default-icon: var(--color-stone-700);
    --theme-default-shade: var(--color-stone-400);
    --theme-default-tint: var(--color-stone-200);
    --theme-focus-border-color: var(--theme-focus-default);
    --theme-focus-default: var(--color-blue-500);
    --theme-focus-foreground-dark: var(--color-blue-700);
    --theme-focus-foreground-light: var(--color-orange-50);
    --theme-focus-icon: var(--theme-focus-default);
    --theme-focus-shade: var(--color-blue-600);
    --theme-focus-tint: var(--color-blue-400);
    --theme-info-default: var(--color-blue-500);
    --theme-info-foreground-dark: var(--color-blue-700);
    --theme-info-foreground-light: var(--color-blue-50);
    --theme-info-icon: var(--color-blue-500);
    --theme-info-shade: var(--color-blue-700);
    --theme-info-tint: var(--color-blue-400);
    --theme-primary-default: var(--color-brand-primary);
    --theme-primary-foreground-dark: var(--color-violet-600);
    --theme-primary-foreground-light: var(--color-violet-50);
    --theme-primary-icon: var(--color-violet-900);
    --theme-primary-shade: var(--color-violet-800);
    --theme-primary-tint: var(--color-violet-500);
    --theme-secondary-default: var(--color-green-500);
    --theme-secondary-foreground-dark: var(--color-green-500);
    --theme-secondary-foreground-light: var(--color-green-50);
    --theme-secondary-icon: var(--color-green-500);
    --theme-secondary-shade: var(--color-green-700);
    --theme-secondary-tint: var(--color-green-400);
    --theme-success-border-color: var(--theme-success-default);
    --theme-success-default: var(--color-green-500);
    --theme-success-foreground-dark: var(--color-green-700);
    --theme-success-foreground-light: var(--color-green-50);
    --theme-success-icon: var(--theme-success-default);
    --theme-success-shade: var(--color-green-800);
    --theme-success-tint: var(--color-green-400);
    --theme-typography-color-blockquote: var(--color-gray-600);
    --theme-typography-color-blockquote-border: var(--color-stone-400);
    --theme-typography-color-body: var(--color-gray-600);
    --theme-typography-color-caption: var(--color-stone-500);
    --theme-typography-color-caption-border-color: var(--theme-ui-border);
    --theme-typography-color-eyebrow: var(--theme-primary-default);
    --theme-typography-color-headline: var(--color-gray-800);
    --theme-typography-color-muted: var(--color-gray-500);
    --theme-ui-border: var(--color-stone-300);
    --theme-ui-divider: var(--color-stone-300);
    --theme-warning-default: var(--color-orange-500);
    --theme-warning-foreground-dark: var(--color-orange-700);
    --theme-warning-foreground-light: var(--color-orange-50);
    --theme-warning-icon: var(--color-orange-500);
    --theme-warning-shade: var(--color-orange-700);
    --theme-warning-tint: var(--color-orange-400);
    /* numbers */
    --section-padding-vertical: var(--spacing-12);
    --theme-typography-scale---step--2: var(--step--2); 
    --theme-typography-scale---step--1: var(--step--1); 
    --theme-typography-scale---step-0: var(--step-0); 
    --theme-typography-scale---step-1: var(--step-1); 
    --theme-typography-scale---step-2: var(--step-2); 
    --theme-typography-scale---step-3: var(--step-3); 
    --theme-typography-scale---step-4: var(--step-4); 
    --theme-typography-scale---step-5: var(--step-5);
    /* string */
    --theme-typography-family-body: Inter;
    --theme-typography-family-heading: Inter;
    --theme-typography-weight-bold: #{$font-weight-bold};
    --theme-typography-weight-extra-bold: #{$font-weight-bolder};
    --theme-typography-weight-light: #{$font-weight-light};
    --theme-typography-weight-medium: #{$font-weight-medium};
    --theme-typography-weight-regular: #{$font-weight-normal};
    --theme-typography-weight-semi-bold: #{$font-weight-semibold};
}