:root, [data-bs-theme="light"] {
  /* color */
  --badge-default-solid-default-background-color: var(--theme-secondary-default);
  --badge-default-solid-default-border-color: var(--theme-secondary-default);
  --badge-default-solid-default-foreground-color: var(--theme-secondary-foreground-light);
  --badge-default-solid-default-icon-color: var(--theme-secondary-foreground-light);
  --badge-default-solid-hover-background-color: var(--theme-default-default);
  --badge-default-solid-hover-border-color: var(--theme-default-tint);
  --badge-default-solid-hover-foreground-color: var(--theme-default-foreground-dark);
  --badge-default-solid-hover-icon-color: var(--theme-default-icon);
  --badge-default-solid-pressed-background-color: var(--theme-secondary-shade);
  --badge-default-solid-pressed-border-color: var(--theme-secondary-shade);
  --badge-default-solid-pressed-foreground-color: var(--theme-secondary-foreground-light);
  --badge-default-solid-pressed-icon-color: var(--theme-secondary-foreground-light);
  --badge-primary-outline-default-background-color: var(--theme-primary-default);
  --badge-primary-outline-default-border-color: var(--theme-primary-default);
  --badge-primary-outline-default-foreground-color: var(--theme-primary-foreground-dark);
  --badge-primary-outline-hover-background-color: var(--theme-primary-tint);
  --badge-primary-outline-hover-border-color: var(--theme-primary-tint);
  --badge-primary-outline-hover-foreground-color: var(--theme-primary-foreground-light);
  --badge-primary-outline-pressed-background-color: var(--theme-primary-shade);
  --badge-primary-outline-pressed-border-color: var(--theme-primary-shade);
  --badge-primary-outline-pressed-foreground-color: var(--theme-primary-foreground-light);
  --badge-primary-solid-default-background-color: var(--color-violet-100);
  --badge-primary-solid-default-border-color: var(--color-violet-100);
  --badge-primary-solid-default-foreground-color: var(--color-violet-800);
  --badge-primary-solid-hover-background-color: var(--theme-primary-tint);
  --badge-primary-solid-hover-border-color: var(--theme-primary-tint);
  --badge-primary-solid-hover-foreground-color: var(--theme-primary-foreground-light);
  --badge-primary-solid-pressed-background-color: var(--theme-primary-shade);
  --badge-primary-solid-pressed-border-color: var(--theme-primary-shade);
  --badge-primary-solid-pressed-foreground-color: var(--theme-primary-foreground-light);
  --badge-secondary-outline-default-background-color: var(--theme-secondary-default);
  --badge-secondary-outline-default-border-color: var(--theme-secondary-default);
  --badge-secondary-outline-default-foreground-color: var(--theme-secondary-foreground-dark);
  --badge-secondary-outline-default-icon-color: var(--theme-secondary-foreground-dark);
  --badge-secondary-outline-hover-background-color: var(--theme-secondary-tint);
  --badge-secondary-outline-hover-border-color: var(--theme-secondary-tint);
  --badge-secondary-outline-hover-foreground-color: var(--theme-secondary-foreground-light);
  --badge-secondary-outline-hover-icon-color: var(--theme-secondary-foreground-light);
  --badge-secondary-outline-pressed-background-color: var(--theme-secondary-shade);
  --badge-secondary-outline-pressed-border-color: var(--theme-secondary-shade);
  --badge-secondary-outline-pressed-foreground-color: var(--theme-secondary-foreground-light);
  --badge-secondary-outline-pressed-icon-color: var(--theme-secondary-foreground-light);
  --badge-secondary-solid-default-background-color: var(--theme-secondary-default);
  --badge-secondary-solid-default-border-color: var(--theme-secondary-default);
  --badge-secondary-solid-default-foreground-color: var(--theme-secondary-foreground-light);
  --badge-secondary-solid-default-icon-color: var(--theme-secondary-foreground-light);
  --badge-secondary-solid-hover-background-color: var(--theme-secondary-tint);
  --badge-secondary-solid-hover-border-color: var(--theme-secondary-tint);
  --badge-secondary-solid-hover-foreground-color: var(--theme-secondary-foreground-light);
  --badge-secondary-solid-hover-icon-color: var(--theme-secondary-foreground-light);
  --badge-secondary-solid-pressed-background-color: var(--theme-secondary-shade);
  --badge-secondary-solid-pressed-border-color: var(--theme-secondary-shade);
  --badge-secondary-solid-pressed-foreground-color: var(--theme-secondary-foreground-light);
  --badge-secondary-solid-pressed-icon-color: var(--theme-secondary-foreground-light);
  --button-primary-link-default-foreground-color: var(--theme-primary-default);
  --button-primary-link-default-icon-color: var(--theme-primary-default);
  --button-primary-link-hover-foreground-color: var(--theme-primary-tint);
  --button-primary-link-hover-icon-color: var(--theme-primary-tint);
  --button-primary-link-pressed-foreground-color: var(--theme-primary-shade);
  --button-primary-link-pressed-icon-color: var(--theme-primary-shade);
  --button-primary-outline-default-background-color: var(--theme-primary-default);
  --button-primary-outline-default-border-color: var(--theme-primary-default);
  --button-primary-outline-default-foreground-color: var(--theme-primary-foreground-dark);
  --button-primary-outline-default-icon-color: var(--theme-primary-default);
  --button-primary-outline-hover-background-color: var(--theme-primary-tint);
  --button-primary-outline-hover-border-color: var(--theme-primary-tint);
  --button-primary-outline-hover-foreground-color: var(--theme-primary-foreground-light);
  --button-primary-outline-hover-icon-color: var(--theme-primary-foreground-light);
  --button-primary-outline-pressed-background-color: var(--theme-primary-shade);
  --button-primary-outline-pressed-border-color: var(--theme-primary-shade);
  --button-primary-outline-pressed-foreground-color: var(--theme-primary-foreground-light);
  --button-primary-outline-pressed-icon-color: var(--theme-primary-foreground-light);
  --button-primary-solid-default-background-color: var(--theme-primary-default);
  --button-primary-solid-default-border-color: var(--theme-primary-default);
  --button-primary-solid-default-foreground-color: var(--theme-primary-foreground-light);
  --button-primary-solid-default-icon-color: var(--theme-primary-foreground-light);
  --button-primary-solid-hover-background-color: var(--theme-primary-tint);
  --button-primary-solid-hover-border-color: var(--theme-primary-tint);
  --button-primary-solid-hover-foreground-color: var(--theme-primary-foreground-light);
  --button-primary-solid-hover-icon-color: var(--theme-primary-foreground-light);
  --button-primary-solid-pressed-background-color: var(--theme-primary-shade);
  --button-primary-solid-pressed-border-color: var(--theme-primary-shade);
  --button-primary-solid-pressed-foreground-color: var(--theme-primary-foreground-light);
  --button-primary-solid-pressed-icon-color: var(--theme-primary-foreground-light);
  --button-secondary-link-default-foreground-color: var(--theme-secondary-default);
  --button-secondary-link-default-icon-color: var(--theme-secondary-default);
  --button-secondary-link-hover-foreground-color: var(--theme-secondary-tint);
  --button-secondary-link-hover-icon-color: var(--theme-secondary-tint);
  --button-secondary-link-pressed-foreground-color: var(--theme-secondary-shade);
  --button-secondary-link-pressed-icon-color: var(--theme-secondary-shade);
  --button-secondary-outline-default-background-color: var(--theme-secondary-default);
  --button-secondary-outline-default-border-color: var(--theme-secondary-default);
  --button-secondary-outline-default-foreground-color: var(--theme-secondary-foreground-dark);
  --button-secondary-outline-default-icon-color: var(--theme-secondary-foreground-dark);
  --button-secondary-outline-hover-background-color: var(--theme-secondary-tint);
  --button-secondary-outline-hover-border-color: var(--theme-secondary-tint);
  --button-secondary-outline-hover-foreground-color: var(--theme-secondary-foreground-light);
  --button-secondary-outline-hover-icon-color: var(--theme-secondary-foreground-light);
  --button-secondary-outline-pressed-background-color: var(--theme-secondary-shade);
  --button-secondary-outline-pressed-border-color: var(--theme-secondary-shade);
  --button-secondary-outline-pressed-foreground-color: var(--theme-secondary-foreground-light);
  --button-secondary-outline-pressed-icon-color: var(--theme-secondary-foreground-light);
  --button-secondary-solid-default-background-color: var(--theme-secondary-default);
  --button-secondary-solid-default-border-color: var(--theme-secondary-default);
  --button-secondary-solid-default-foreground-color: var(--theme-secondary-foreground-light);
  --button-secondary-solid-default-icon-color: var(--theme-secondary-foreground-light);
  --button-secondary-solid-hover-background-color: var(--theme-secondary-tint);
  --button-secondary-solid-hover-border-color: var(--theme-secondary-tint);
  --button-secondary-solid-hover-foreground-color: var(--theme-secondary-foreground-light);
  --button-secondary-solid-hover-icon-color: var(--theme-secondary-foreground-light);
  --button-secondary-solid-pressed-background-color: var(--theme-secondary-shade);
  --button-secondary-solid-pressed-border-color: var(--theme-secondary-shade);
  --button-secondary-solid-pressed-foreground-color: var(--theme-secondary-foreground-light);
  --button-secondary-solid-pressed-icon-color: var(--theme-secondary-foreground-light);
  --checkbox-action-color: var(--theme-typography-color-body);
  --checkbox-background-color: var(--color-default-white);
  --checkbox-border-color: var(--theme-ui-border);
  --checkbox-checked-background-color: var(--theme-primary-default);
  --checkbox-checked-border-color: var(--theme-primary-default);
  --input-background-color: var(--color-gray-100);
  --input-border-color: var(--theme-ui-border);
  --input-foreground-color: var(--theme-typography-color-body);
  --navbar-background-color: #ffffff;
  --navbar-border-color: #ec4899;
  --navbar-foreground-color: var(--theme-primary-foreground-dark);
  --navbar-link-default-color: var(--theme-primary-default);
  --navbar-link-hover-color: var(--theme-primary-tint);
  --navbar-link-icon-color: var(--theme-primary-icon);
  --radio-background-color: var(--color-gray-100);
  --radio-border-color: var(--theme-ui-border);
  --radio-check-color: var(--theme-primary-default);
  --radio-foreground-color: var(--theme-typography-color-body);
  --table-header-background-color: var(--color-gray-100);
  --table-header-foreground-color: var(--theme-typography-color-headline);
  --table-row-background-color: var(--color-default-white);
  --table-row-border-color: var(--theme-ui-border);
  --toggle-action-color: var(--theme-typography-color-body);
  --toggle-background-off-color: var(--color-gray-400);
  --toggle-background-on-color: var(--theme-primary-default);
  --toggle-handle-off-color: var(--color-default-white);
  --toggle-handle-on-color: var(--color-default-white);
  /* number */
  --badge-border-radius: var(--border-radius-sm);
  --badge-gap: var(--spacing-03);
  --button-border-width: var(--border-xs);
  --button-border-radius: var(--border-radius-sm);
  --button-gap: var(--spacing-03);
  --checkbox-border-width: var(--border-xs);
  --checkbox-radius: var(--border-radius-sm);
  --input-border-radius: var(--border-radius-xs);
  --radio-border-width: var(--border-xs);
  --radio-radius: var(--border-radius-sm);
  --table-row-border-width: var(--border-xs);
}
[data-bs-theme="dark"] {
  /* color */
  --badge-default-solid-default-background-color: var(--theme-secondary-default);
  --badge-default-solid-default-border-color: var(--theme-secondary-default);
  --badge-default-solid-default-foreground-color: var(--theme-secondary-foreground-light);
  --badge-default-solid-default-icon-color: var(--theme-secondary-foreground-light);
  --badge-default-solid-hover-background-color: var(--theme-default-default);
  --badge-default-solid-hover-border-color: var(--theme-default-tint);
  --badge-default-solid-hover-foreground-color: var(--theme-default-foreground-dark);
  --badge-default-solid-hover-icon-color: var(--theme-default-icon);
  --badge-default-solid-pressed-background-color: var(--theme-secondary-shade);
  --badge-default-solid-pressed-border-color: var(--theme-secondary-shade);
  --badge-default-solid-pressed-foreground-color: var(--theme-secondary-foreground-light);
  --badge-default-solid-pressed-icon-color: var(--theme-secondary-foreground-light);
  --badge-primary-outline-default-background-color: var(--theme-primary-default);
  --badge-primary-outline-default-border-color: var(--color-default-white);
  --badge-primary-outline-default-foreground-color: var(--color-default-white);
  --badge-primary-outline-hover-background-color: var(--color-default-white);
  --badge-primary-outline-hover-border-color: var(--color-default-white);
  --badge-primary-outline-hover-foreground-color: var(--theme-primary-default);
  --badge-primary-outline-pressed-background-color: var(--theme-primary-shade);
  --badge-primary-outline-pressed-border-color: var(--theme-primary-shade);
  --badge-primary-outline-pressed-foreground-color: var(--theme-primary-foreground-light);
  --badge-primary-solid-default-background-color: var(--color-violet-100);
  --badge-primary-solid-default-border-color: var(--color-violet-100);
  --badge-primary-solid-default-foreground-color: var(--color-violet-800);
  --badge-primary-solid-hover-background-color: var(--theme-primary-tint);
  --badge-primary-solid-hover-border-color: var(--theme-primary-tint);
  --badge-primary-solid-hover-foreground-color: var(--theme-primary-foreground-light);
  --badge-primary-solid-pressed-background-color: var(--theme-primary-shade);
  --badge-primary-solid-pressed-border-color: var(--color-default-white);
  --badge-primary-solid-pressed-foreground-color: var(--theme-primary-foreground-light);
  --badge-secondary-outline-default-background-color: var(--theme-secondary-default);
  --badge-secondary-outline-default-border-color: var(--theme-secondary-default);
  --badge-secondary-outline-default-foreground-color: var(--theme-secondary-foreground-dark);
  --badge-secondary-outline-default-icon-color: var(--theme-secondary-foreground-dark);
  --badge-secondary-outline-hover-background-color: var(--theme-secondary-tint);
  --badge-secondary-outline-hover-border-color: var(--theme-secondary-tint);
  --badge-secondary-outline-hover-foreground-color: var(--theme-secondary-foreground-light);
  --badge-secondary-outline-hover-icon-color: var(--theme-secondary-foreground-light);
  --badge-secondary-outline-pressed-background-color: var(--theme-secondary-shade);
  --badge-secondary-outline-pressed-border-color: var(--theme-secondary-shade);
  --badge-secondary-outline-pressed-foreground-color: var(--theme-secondary-foreground-light);
  --badge-secondary-outline-pressed-icon-color: var(--theme-secondary-foreground-light);
  --badge-secondary-solid-default-background-color: var(--theme-secondary-default);
  --badge-secondary-solid-default-border-color: var(--theme-secondary-default);
  --badge-secondary-solid-default-foreground-color: var(--theme-secondary-foreground-light);
  --badge-secondary-solid-default-icon-color: var(--theme-secondary-foreground-light);
  --badge-secondary-solid-hover-background-color: var(--theme-secondary-tint);
  --badge-secondary-solid-hover-border-color: var(--theme-secondary-tint);
  --badge-secondary-solid-hover-foreground-color: var(--theme-secondary-foreground-light);
  --badge-secondary-solid-hover-icon-color: var(--theme-secondary-foreground-light);
  --badge-secondary-solid-pressed-background-color: var(--theme-secondary-shade);
  --badge-secondary-solid-pressed-border-color: var(--theme-secondary-shade);
  --badge-secondary-solid-pressed-foreground-color: var(--theme-secondary-foreground-light);
  --badge-secondary-solid-pressed-icon-color: var(--theme-secondary-foreground-light);
  --button-primary-link-default-foreground-color: var(--color-default-white);
  --button-primary-link-default-icon-color: var(--color-default-white);
  --button-primary-link-hover-foreground-color: var(--color-default-white);
  --button-primary-link-hover-icon-color: var(--color-default-white);
  --button-primary-link-pressed-foreground-color: var(--color-default-white);
  --button-primary-link-pressed-icon-color: var(--color-default-white);
  --button-primary-outline-default-background-color: var(--theme-primary-default);
  --button-primary-outline-default-border-color: var(--color-default-white);
  --button-primary-outline-default-foreground-color: var(--color-default-white);
  --button-primary-outline-default-icon-color: var(--color-default-white);
  --button-primary-outline-hover-background-color: var(--color-default-white);
  --button-primary-outline-hover-border-color: var(--color-default-white);
  --button-primary-outline-hover-foreground-color: var(--theme-primary-default);
  --button-primary-outline-hover-icon-color: var(--theme-primary-default);
  --button-primary-outline-pressed-background-color: var(--theme-primary-shade);
  --button-primary-outline-pressed-border-color: var(--theme-primary-shade);
  --button-primary-outline-pressed-foreground-color: var(--theme-primary-foreground-light);
  --button-primary-outline-pressed-icon-color: var(--theme-primary-foreground-light);
  --button-primary-solid-default-background-color: var(--color-default-white);
  --button-primary-solid-default-border-color: var(--color-default-white);
  --button-primary-solid-default-foreground-color: var(--theme-primary-default);
  --button-primary-solid-default-icon-color: var(--theme-primary-default);
  --button-primary-solid-hover-background-color: var(--theme-primary-tint);
  --button-primary-solid-hover-border-color: var(--theme-primary-tint);
  --button-primary-solid-hover-foreground-color: var(--theme-primary-foreground-light);
  --button-primary-solid-hover-icon-color: var(--theme-primary-foreground-light);
  --button-primary-solid-pressed-background-color: var(--theme-primary-shade);
  --button-primary-solid-pressed-border-color: var(--color-default-white);
  --button-primary-solid-pressed-foreground-color: var(--theme-primary-foreground-light);
  --button-primary-solid-pressed-icon-color: var(--theme-primary-foreground-light);
  --button-secondary-link-default-foreground-color: var(--color-default-white);
  --button-secondary-link-default-icon-color: var(--color-default-white);
  --button-secondary-link-hover-foreground-color: var(--color-default-white);
  --button-secondary-link-hover-icon-color: var(--color-default-white);
  --button-secondary-link-pressed-foreground-color: var(--color-default-white);
  --button-secondary-link-pressed-icon-color: var(--color-default-white);
  --button-secondary-outline-default-background-color: var(--theme-secondary-default);
  --button-secondary-outline-default-border-color: var(--theme-secondary-default);
  --button-secondary-outline-default-foreground-color: var(--theme-secondary-foreground-dark);
  --button-secondary-outline-default-icon-color: var(--theme-secondary-foreground-dark);
  --button-secondary-outline-hover-background-color: var(--theme-secondary-tint);
  --button-secondary-outline-hover-border-color: var(--theme-secondary-tint);
  --button-secondary-outline-hover-foreground-color: var(--theme-secondary-foreground-light);
  --button-secondary-outline-hover-icon-color: var(--theme-secondary-foreground-light);
  --button-secondary-outline-pressed-background-color: var(--theme-secondary-shade);
  --button-secondary-outline-pressed-border-color: var(--theme-secondary-shade);
  --button-secondary-outline-pressed-foreground-color: var(--theme-secondary-foreground-light);
  --button-secondary-outline-pressed-icon-color: var(--theme-secondary-foreground-light);
  --button-secondary-solid-default-background-color: var(--theme-secondary-default);
  --button-secondary-solid-default-border-color: var(--theme-secondary-default);
  --button-secondary-solid-default-foreground-color: var(--theme-secondary-foreground-light);
  --button-secondary-solid-default-icon-color: var(--theme-secondary-foreground-light);
  --button-secondary-solid-hover-background-color: var(--theme-secondary-tint);
  --button-secondary-solid-hover-border-color: var(--theme-secondary-tint);
  --button-secondary-solid-hover-foreground-color: var(--theme-secondary-foreground-light);
  --button-secondary-solid-hover-icon-color: var(--theme-secondary-foreground-light);
  --button-secondary-solid-pressed-background-color: var(--theme-secondary-shade);
  --button-secondary-solid-pressed-border-color: var(--theme-secondary-shade);
  --button-secondary-solid-pressed-foreground-color: var(--theme-secondary-foreground-light);
  --button-secondary-solid-pressed-icon-color: var(--theme-secondary-foreground-light);
  --checkbox-action-color: var(--theme-typography-color-body);
  --checkbox-background-color: var(--color-default-white);
  --checkbox-border-color: var(--theme-ui-border);
  --checkbox-checked-background-color: var(--theme-primary-default);
  --checkbox-checked-border-color: var(--theme-primary-default);
  --input-background-color: var(--color-gray-100);
  --input-border-color: var(--theme-ui-border);
  --input-foreground-color: var(--theme-typography-color-body);
  --navbar-background-color: #ffffff;
  --navbar-border-color: #ec4899;
  --navbar-foreground-color: var(--theme-primary-foreground-dark);
  --navbar-link-default-color: var(--theme-primary-default);
  --navbar-link-hover-color: var(--theme-primary-tint);
  --navbar-link-icon-color: var(--theme-primary-icon);
  --radio-background-color: var(--color-gray-100);
  --radio-border-color: var(--theme-ui-border);
  --radio-check-color: var(--theme-primary-default);
  --radio-foreground-color: var(--theme-typography-color-body);
  --table-header-background-color: var(--color-gray-100);
  --table-header-foreground-color: var(--theme-typography-color-headline);
  --table-row-background-color: var(--color-default-white);
  --table-row-border-color: var(--theme-ui-border);
  --toggle-action-color: var(--theme-typography-color-body);
  --toggle-background-off-color: var(--color-gray-400);
  --toggle-background-on-color: var(--theme-primary-default);
  --toggle-handle-off-color: var(--color-default-white);
  --toggle-handle-on-color: var(--color-default-white);
  /* number */
  --badge-border-radius: var(--border-radius-sm);
  --badge-gap: var(--spacing-03);
  --button-border-width: var(--border-xs);
  --button-border-radius: var(--border-radius-sm);
  --button-gap: var(--spacing-03);
  --checkbox-border-width: var(--border-radius-xs);
  --checkbox-radius: var(--border-radius-sm);
  --input-border-radius: var(--border-radius-xs);
  --radio-border-width: var(--border-xs);
  --radio-radius: var(--border-radius-sm);
  --table-row-border-width: var(--border-xs);
}