<div class="mb-3">
    <label class="form-label" for="{{ inputId }}">{{  label }}</label>
    <textarea class="form-control" placeholder="{{ placeholder }}" id="{{ inputId }}" rows="3"></textarea>
</div>