.stat.stat-19 {
  position: relative;
  padding: var(--spacing-09) 0;
  @include media-breakpoint-up(sm) {
    padding: var(--spacing-12) 0;
  }

  .section-intro {
    margin-bottom: var(--spacing-09);
    @include media-breakpoint-up(md) {
      margin-bottom: var(--spacing-11);
    }
  }

  .cards {
    padding: var(--spacing-09) 0;
    .card.stat-card-1 {
      margin-bottom: var(--spacing-09);
      .card-body {
        padding: 0;
      }
      .card-stat {
        font-size: 56px;
      }
    }
    .col:last-of-type {
      .card.stat-card-1 {
        margin-bottom: 0;
      }
    }

    //margin-bottom: var(--spacing-09);
  }

  .cta-group {
    button, a {
      margin-right: var(--spacing-06);
    }
  }
}