<footer class="c-site-footer">
  <div class="c-site-footer__inner">
    <div class="c-site-footer__meta">
      {{ copyright|default('© ' ~ "now"|date('Y') ~ ' Your organization') }}
    </div>
    {% if secondary_navigation %}
      <div class="c-site-footer__nav">{{ secondary_navigation }}</div>
    {% endif %}
  </div>
</footer>
