{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% include '@labl/organisms/CTAs/CTA-7/CTA-7.twig' with {
    hasBorder: hasBorder,
    componentTheme: componentTheme,
    heading: heading,
    eyebrow: eyebrow,
    subHeadingText: subHeadingText,
    text: text,
    subscribeForm: subscribeForm,
    ctas: ctas,
    bgImage: bgImage,
    image: image,
    imageAlt: imageAlt
  } %}
</div>
