
{% if page.navigation %}
  <nav class="main-navigation">
    {{ page.navigation }}
  </nav>
{% endif %}


{% if page.content %}
  <header class="site-header">
    {{ page.content }}
  </header>
{% endif %}

<h1>Hello world!!2</h1>
